/* FOR BIGGER DEVICES */

@media screen and (min-width: 1280px) {
    .head h1 {
        font-size: 100px;
        letter-spacing: 3px;
    }
    .form_cus h3 {
        font-size: 40px;
        letter-spacing: 3px
    }
    .form_cus input {
        font-size: 28px;
        width: 400px;
    }
    .button_go {
        font-size: 40px;
        padding: 0px 40px;
    }
    .eyeBtn {
        font-size: 28px;
    }
    .btn_1 {
        font-size: 28px;
        width: 120px;
    }
    .btn_2 {
        font-size: 28px;
        width: 120px;
    }
    .forms h4 {
        font-size: 40px;
    }
    .about_sec h1 {
        font-size: 100px;
        letter-spacing: 3px;
    }
    /* .about_sec {} */
    .abt_inner {
        text-align: left;
        height: 400px;
    }
    .con_abt_inner_r h3 {
        font-size: 50px;
        margin-left: 30px;
    }
    .con_abt_inner_r p {
        font-size: 35px;
        margin-left: 80px;
    }
    .con_abt_inner_l h3 {
        font-size: 50px;
        margin-left: 30px;
    }
    .con_abt_inner_l p {
        font-size: 35px;
        margin-left: 80px;
    }
    footer {
        height: 600px;
        padding-top: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .head_footer h1 {
        font-size: 100px;
        letter-spacing: 3px;
    }
    .head_footer p {
        font-size: 40px;
    }
}


/* FOR TABLETS AND PHONES */

@media screen and (max-width: 760px) {
    .inner_rt {
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .home_bg {
        height: 200%;
    }
    .login_cus {
        height: 50%;
    }
    .head h1 {
        font-size: 46px;
        letter-spacing: 1px;
    }
    /* .form_cus h3 {
        font-size: 20px;
        letter-spacing: 3px
    }
    .form_cus input {
        font-size: 18px;
        width: 250px;
    }
    .button_go {
        font-size: 20px;
    }
    .eyeBtn {
        font-size: 18px;
    }
    .btn_1 {
        font-size: 15px;
        width: 70px;
    }
    .btn_2 {
        font-size: 15px;
        width: 70px;
    }
    .forms h4 {
        font-size: 20px;
    } */
    .about_sec h1 {
        font-size: 46px;
        letter-spacing: 1px;
    }
    /* .about_sec {} */
    .abt_inner {
        text-align: center;
        height: 600px;
    }
    .img_abt_inner_l {
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .con_abt_inner_r {
        background-color: #3ca392;
        height: 50%;
        border-radius: none;
        padding: 50px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .con_abt_inner_r h3 {
        font-size: 30px;
        margin-left: 0px;
    }
    .con_abt_inner_r p {
        font-size: 22px;
        margin-left: 0px;
    }
    .img_abt_inner_r {
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 40px;
        border-top-right-radius: 0px;
    }
    .con_abt_inner_l {
        background-color: #3ca392;
        height: 50%;
        border-radius: none;
        padding: 50px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .con_abt_inner_l h3 {
        font-size: 30px;
        margin-left: 0px;
    }
    .con_abt_inner_l p {
        font-size: 22px;
        margin-left: 0px;
    }
    footer {
        height: 400px;
        padding-top: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .head_footer h1 {
        font-size: 60px;
        letter-spacing: 3px;
    }
    .head_footer p {
        font-size: 20px;
    }
}


/* FOR SMALL PHONES */

@media screen and (max-width: 320px) {
    .inner_rt {
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .home_bg {
        height: 200%;
    }
    .login_cus {
        height: 50%;
    }
    .head h1 {
        font-size: 40px;
        letter-spacing: 1px;
    }
    .form_cus h3 {
        font-size: 20px;
        letter-spacing: 3px
    }
    .form_cus input {
        font-size: 18px;
        width: 250px;
    }
    .button_go {
        font-size: 20px;
    }
    .eyeBtn {
        font-size: 18px;
    }
    .btn_1 {
        font-size: 15px;
        width: 70px;
    }
    .btn_2 {
        font-size: 15px;
        width: 70px;
    }
    .forms h4 {
        font-size: 20px;
    }
    .con_abt_inner_r {
        background-color: #3ca392;
        height: 50%;
        border-radius: none;
        padding: 20px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .con_abt_inner_l {
        background-color: #3ca392;
        height: 50%;
        border-radius: none;
        padding: 20px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .head_footer h1 {
        font-size: 45px;
        letter-spacing: 3px;
    }
    .head_footer p {
        font-size: 20px;
    }
    footer {
        height: 300px;
        padding-top: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}